* {
    margin:0;
    letter-spacing: 2px;
    box-sizing: border-box;
}

header {
    height:10vh;
    background: rgb(64, 50, 77);
    display: flex;
    /* align-items:center;
    justify-content: space-between; */
}

h3 {
    height: 10vh;
    line-height: 5vh;
    color: white;
    vertical-align:middle;
    background-color: #4aaaa5;
    border: 5px lightcoral solid;
    padding: 12px;
    float:left;
}

nav {
    display: table;
    float:right;
    height: 10vh;
}

a {
    height:10vh;
    display:table-cell;
    vertical-align:middle;
    text-decoration: none;
    color: white;
    background-color:#4aaaa5;
    border: 5px lightcoral solid;
    padding: 12px;
}

main {
    height:80vh;
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position:relative;
}

.box0 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.box1 {
    /* position:absolute; */
    width:1000px;
    height:600px;
    background-color: #99a6ae;
    margin: 30px auto 0 auto;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    border-radius: 3px;
}
footer {
    height:10vh;
    background-color: #4aaaa5;
}
