* {
    margin:0;
    box-sizing: border-box;
}

body{
    background: url("./img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    height:10vh;
    background: #ffffff;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1{
    color:#ffffff;
    float:left;
    background-color: #4aaaa5;
    padding: 15px;
}

nav{
    float:right;
}

a{
    color: #777777;
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 5vh;
}

p {
    display: inline-block;
    transition: all 1.3 s ease-in;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 2px solid #cccccc;
}

p:hover{
    transform: translate(-2px, -4px);
    text-shadow: 1px 1px 1px rgb(104, 103, 103);
}

p:active{
    transform: translate(-2px, -4px);
    text-shadow: 1px 1px 1px rgb(104, 103, 103);
}

main {
    min-height:80vh;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position:relative;
}

.box0 {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.box1 {
    width:1000px;
    height:600px;
    background-color: #ffffff;
    margin: 30px auto 0 auto;
    padding: 10px;
    border-bottom: 2px solid #dddddd;
    border-top: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;

}

.card-header {
    height: 10%;
    display: table;
    width: 100%;
    background-color:#ffffff;
    border-bottom: 2px solid #cccccc;
}

.card-header-text {
    display: table-cell;
    color: #4aaaa5;
    padding: 15px;
    float:left; 
    font-size: 30px; 
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.card-image{
    padding: 15px;
    width: 200px;
    float: left;
}

.about-me{
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 3.2vh;

}

.contact{
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 15px;
    font-size: 20px; 
}

footer {
    height:10vh;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
}

input:focus{
    background-color: #4aaaa5;
    color: #666666;
}

input {
    line-height: 50px;
    width: 100%;
    font-size: 1.25rem;
    color: #666666;
}

.submit{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4aaaa5;
    text-align: center;
}

.button{
    color: #ffffff;
}
.container{
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(2, minmax(1px, 30%));
    padding: 15px;
}

.card-image-1{
    width: 95%;
}
.card-image-2{
    width: 95%;
}
.card-image-3{
    width: 95%; 
}
.card-image-4{
    width: 95%;  
}
.card-image-5{
    width: 95%;   
}
.card-image-6{
    width: 95%;   
}